doctype html
html
  head
    title Exercise Tracker
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(rel='stylesheet' href='style.css')
    link(rel='shortcut icon' type='image/x-icon' href='https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico')

  body
    .container
      h1.center Exercise Tracker

      .addUser
        h5.center Add User
        form(action='/api/exercise/new-user' method='POST')
          input(type='text' id='username' name='username' placeholder='Username')
          input(type='submit' value='Create User' class='btn')

      .addExercise
        h5.center Add Exercise
        form(action='/api/exercise/add' method='POST')
          input(type='text' name='userId' id='userId' placeholder='User ID')
          input(type='text' name='description' id='description' placeholder='Description')
          input(type='Number' name='duration' id='duration' placeholder='Duration')
          input(type='text' name='date' id='date' placeholder='Date (YYYY-MM-DD)')
          input(type='submit' value='Add Exercise' class='btn')
